<%= turbo_frame_tag 'room_reservation' do %>
  <div>
    Room is reserved:
  </div>
  <% if @room_meetings.present? %>
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Start_Time</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">End_Time</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Department</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @room_meetings.each do |meeting| %>
          <tr class="relative py-4 pl-4 sm:pl-6 pr-3 text-sm border-t border-grey"-200>
            <td class="relative py-4 pl-4 sm:pl-6 pr-3 text-sm>
              <div class="font-medium text-gray-900">
                <%= meeting[0] %></div>
              <div>
            <td class="relative py-4 pl-4 sm:pl-6 pr-3 text-sm>
              <div class="font-medium text-gray-900">
                <%= meeting[1] %></div>
              <div>
            <td class="relative py-4 pl-4 sm:pl-6 pr-3 text-sm>
              <div class="font-medium text-gray-900">
                <%= meeting[2] %></div>
              <div>
            <td class="relative py-4 pl-4 sm:pl-6 pr-3 text-sm>
              <div class="font-medium text-gray-900">
                <%= meeting[3] %></div>
              <div>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
