<%= turbo_frame_tag 'room_reservation' do %>
  <% if @room_meetings.present? %>
    <table class="px-2 min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-300">
        <tr>
          <th scope="col" class="py-3.5 text-sm font-semibold text-gray-900 text-center">Start - End</th>
          <th scope="col" class="pl-4 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Department</th>
          <th scope="col" class="pl-4 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @room_meetings.each do |meeting| %>
          <% if @room_meetings.index(meeting).odd? %>
            <tr class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm border-t border-gray-300 bg-gray-200">
          <% else %>
            <tr class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm border-t border-gray-300 bg-white">
          <% end %>
            <td class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm">
              <div class="font-medium text-gray-900 text-center">
                <%= show_time(meeting[0]) %> - <%= show_time(meeting[1]) %>
              </div>
            <td class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm">
              <div class="font-medium text-gray-900">
                <%= meeting[2] %>
              </div>
            <td class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm">
              <div class="font-medium text-gray-900">
                <%= meeting[3] %>
              </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
   <div class="text-sm ml-8 py-4">
   There are no events on this day
   </div>
  <% end %>
<% end %>
