<%= turbo_frame_tag "room" do  %>
  <div class="container rounded-lg shadow-lg px-auto">
    <div class="flex-col w-full px-2">
      <div class="mx-auto">
        <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
        <% end %>
       </div>
        <h1 class="text-3xl mb-2">
        <%= @room.display_name %>
      </h1>
      <p class="my-5">
        <%= @room.building %>
      </p>
      <p class="my-5">
        <%= @room.room_type %>
      </p>
        <%= render @room %>

        <%= link_to 'Edit this room', edit_room_path(@room), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-2">
          <%= button_to 'Destroy this room', room_path(@room), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        </div>
        <%= link_to 'Back to rooms', rooms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", data: { "turbo-frame": "_top" } %>
    </div>
  </div>
<% end %>
