<div class="rounded-lg shadow-lg px-auto pl-2">
  <%= turbo_frame_tag "room" do  %>
    <div class="flex-col w-full px-2">
      <div class="mx-auto">
        <div class="grid grid-cols-2">
          <div>
            <h1 class="text-3xl mb-2">
              <%= @room.display_name %>
              <% if room_need_attention?(@room) %>
                <span class="text-red-500">Needs attention</span>
              <% end %>
            </h1>
            <p class="my-5">
              <%= @room.building %>
            </p>
            <p class="my-5">
              <%= @room.room_type %>
            </p>
            <p class="my-5">
            <%= @room.websocket_ip %>
            </p>
            <p class="my-5">
              <%= @room.websocket_port %>
            </p>
            <%= button_to 'Refresh Room', refresh_path, method: :get %>
            <%#= button_to 'Send to Room', send_path, method: :get %>
            <%= button_to 'Send to Room-Refresh', send_path, method: :get, params: { operation: 'refresh'  }, form_class: "btn-command"  %>
            <%= button_to 'Send to Room - MicVol: 0', send_path, method: :get, params: { operation: 'mic_vol'  }, form_class: "btn-command", disabled: true  %>
            <%= button_to 'Send to Room - SourceVol: 0', send_path, method: :get, params: { operation: 'source_vol'  }, form_class: "btn-command", disabled: true  %>
            <%= button_to 'Send to Room - Projector ON', send_path, method: :get, params: { operation: 'projector_on'  }, form_class: "btn-command", disabled: true  %>
            <%= button_to 'Send to Room - Projector OFF', send_path, method: :get, params: { operation: 'projector_off'  }, form_class: "btn-command", disabled: true  %>
            <%= button_to 'Send to Room - System ON', send_path, method: :get, params: { operation: 'system_on'  }, form_class: "btn-command", disabled: true  %>
            <%= button_to 'Send to Room - System OFF', send_path, method: :get, params: { operation: 'system_off'  }, form_class: "btn-command", disabled: true  %>
            <%= button_to 'Send to Room - Source INT', send_path, method: :get, params: { operation: 'source_int'  }, form_class: "btn-command", disabled: true  %>

          </div>
          
          <div class="mt-4 text-blue-600 hover: underline">
            <div>
              <%= link_to "Lecture Capture Dashboard", "https://leccap.engin.umich.edu/leccap/dashboard" %>
            </div>
            <div>
              <%= link_to "Room Schedule", "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{@room.facility_id }" %>
            </div>
          </div>
        </div>
        <div>
          <% if room_has_device_current_states?(@room) %>
            <%= render @room %>
          <% end %>
        </div>
      <div>
        <% if current_user.role == "admin" %>
         <%= link_to 'Edit this room', edit_room_path(@room), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", data: { "turbo-frame": "_top" } %>
        <% end %>
        <%= link_to 'Back to rooms', rooms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", data: { "turbo-frame": "_top" } %>
      </div>
    </div>
  <% end %>
</div>


<div class="container p-2 rounded-lg shadow-lg text-xl mb-20 bg-gray-50">
  <div class="mb-20">Notes:
    <% if ["admin", "technician"].include?(session[:user_role]) %>
      <%= render partial: "notes/form", locals: { note: Note.new, noteable: @room } %>
    <% end %>
    <%= turbo_stream_from @room, :notes %>
    <%= tag.div id: "#{dom_id(@room)}_notes" do %>
      <%= render @room.notes %> 
    <% end %>
  </div>
</div>