<nav class="static bg-blue-900 shadow min-w-screen">
  <div class="w-auto max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <div class="flex">
          <%= link_to root_path do %>
            <div class="flex items-center">
              <div class="inline-block h-8 justify-self-start content-start items-start">
                <%= image_tag 'block_m-hex.png', alt: 'University of Michigan Logo', height: '35.75', width: '50', class: '' %>
              </div>
              <span class="text-white font text-3xl pl-2 font-sans font-medium">
                AV Monitor
              </span>
            </div>
          <% end %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-4 pl-2">
          <div class="border-transparent text-blue-50 inline-flex items-center justify-between space-x-4 pl-1 pt-1 border-b-2 text-base font-normal">
            <% if user_signed_in? %>
              <div class="hover:underline">
                <%= link_to "Dashboard", dashboard_path %>
              </div>
            <% end %>
            <% if user_signed_in? %>
              <div class="hover:underline">
                <%= link_to "Find a Room", rooms_path %>
              </div>
            <% end %>
            <% if user_signed_in? %>
              <div class="hover:underline">
                <%= link_to 'New room', new_room_path %>
              </div>
            <% end %>
            <div class="place-self-end">
              <% if user_signed_in? %>
                <div class="text-yellow-400">
                  <%= current_user.email %> - <%= current_user.role %>
                </div>
                <%= button_to destroy_user_session_path, method: :delete, tabindex: "-1", data: {turbo: "false"} do %>
                  <div>Sign Out</div>
                <% end %>
              <% else %>
                <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
                  <div>Sign In</div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= turbo_stream_from "attention_channel" %>
  <div id="attention_message" class="flex flex-row bg-red-800 text-red-100 text-sm place-content-center">
    <%= render 'attentions/attention' %>
  </div>
</nav>
